!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1{:style => "color:green"}
      Welcome to ihubstartups.org, #{@green.name}
    %hr
    %p
      You have successfully signed up to ihubstartups.org,
      your email is: #{@green.email}.
      your password is: #{@green.password}
      %br
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks and have a great day!

    %b Edit your Account info to have a public viewable profile.
    
    %hr
    %p This is an Automatically Genrated System email please do not reply.