=render 'layouts/header'
.ui.basic.segment
	%h3.ui.header#special Consultants 
	%p iHub Green Consultants are elite developers, designers, business developers, Digital marketing consultants who use their skills to support startups and grow the tech community groups.
	%ul
		%b The user groups include
		%li PhPKe, Nairuby, The Atlassians, Nairobi JS, JavaKe, Google Developer Group, Pythonistas, Microsoft developer Group
		%li Game Developer Group, 1UP Gaming Kenya, YouTube Africa Group
		%li UX Ambassadors Group, Digital &Social media Group
	%hr
	.ui.link.cards
		- @green.each do |green|

			.ui.green.card
				.image
				-if green.avatar.nil?
				-else 
					= image_tag green.avatar.url(:thumb)
				.content
					.header 
						= green.name

					.description
						=green.skills
				.extra.content
					
					= green.startups.name

				.extra.content
					%span
						= green.web
				
