= render 'shared/private_sidebar'
.pusher
  .ui.basic.segment
    .ui.green.header Dashboard
    .ui.green.message Please Update your profile to showcase your skills 
    .ui.blue.message Messaging will be active soon enough
    %p 
    %p

