= render 'shared/private_sidebar'
.pusher
  .ui.basic.segment
    %h3.ui.header Greens Alpha Dashboard
    %p Please Update your profile to showcase your skills 
    %p Messaging will be active soon enough
    %p 
    %p
