= render 'shared/private_sidebar'
.pusher
	.ui.basic.segment
		.ui.green.header 
			%i.dashboard.icon
			Dashboard
		.ui.green.message Please Update your profile to showcase your skills 
		.ui.icon.blue.message
			%i.notched.circle.loading.icon
			Messaging will be active soon enough
		
