= render 'shared/private_sidebar'
.pusher
	.ui.basic.segment
		.ui.green.header 
			%i.dashboard.icon
			Dashboard
		-if current_green.name.nil?
			.ui.green.message{:style => "width:40%;"} Please Update your profile to showcase your skills 
		.ui.icon.blue.message{:style => "width:40%;"}
			%i.notched.circle.loading.icon
			Messaging will be active soon enough
		
