%section#img
  %center
    %h3{:style => "color:#fff;font-size:20px;"} Organized community of problem solvers
%section
  .ui.equal.width.stackable.internally.celled.grid#second
    .column
      %center
        %h3#special Greens
        %h5 Who is it for?
        %h5 Organized into Startups and Consultants 
        %h5 How to apply

    .column
      %center
        %h3#special About the iHub

        %h5 The iHub space
        %h5 Community organization
        %h5 Memberships
        %br
        = image_tag("ihub.png", width: "150px" , height: "50px")
.ui.horizontal.divider

%section
  %center
    %h3#special Visit us
  %br
  %center
    = render 'home/map'


%section{:style => "margin-top:10px;"}
  %center
    %h3#special Reach us
  %br
  .ui.equal.width.stackable.internally.celled.grid#contact
    .column
      %h5 Contact our team or simply leave a message
      %h5 4th Floor Bishop Magua House Ngong Road
      %h4 Email:
      %i.mail.icon 
        %h5 ihubgreens@gmail.com 
    .column
      .ui.form
        .field
          %input{:placeholder => "Email"}
        .field
          %input{:placeholder => "Name"}
        .field
          %input{:type=> "text", :placeholder => "Leave a message"}
        .ui.green.button Submit
