// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{margin-top:0px !important;}
  #img{background:asset_url('back.png') fixed;height:700px;padding-top:300px;}
  #second{padding:40px;}
  #contact{height:auto;margin-top:10px;padding-left:20px;padding-right:20px;}
  @media only screen and (max-width: 767px) {
    .ui.menu > .ui.container {
      width: 100% !important;
      margin-left: 0em !important;
      margin-right: 0em !important;
    }
  }
  @media only screen and (min-width: 768px) {
    .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child {
      border-left: 1px solid rgba(34, 36, 38, 0.1);
    ui.menu.a.item{display:none }
    }
  }

@media only screen and (max-width: 767px) {
    .mobile.hidden,
    .tablet.only,
    .small.monitor.only,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile.only,
    .tablet.hidden,
    .small.monitor.only,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile.only,
    .tablet.only,
    .small.monitor.hidden,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 1200px) {
    .mobile.only,
    .tablet.only,
    .small.monitor.only,
    .large.monitor.hidden {
        display: none !important;
    }
}
    #special{color:#00C853 !important;}

  