=render 'layouts/header'
.ui.segment{:style =>"margin-top:80px;"}
	%h3.ui.header#special Consultants 
	.ui.link.cards
		- @green.each do |green|

			.ui.card
				.image
				-if green.avatar.nil?
				-else 
					= image_tag green.avatar.url(:thumb)
				.content
					.header 
						= green.name

					.description
						=green.skills
				.extra.content
					
					= green.startups.name

				.extra.content
				%span
				
