
.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header /> About 
        .ui.inverted.link.list
          %a.item{:href => "#"} { Contact Us }
          %a.item{:href => "#"} { Privacy and Terms }
          
      .three.wide.column
        %h4.ui.inverted.header /> Services
        .ui.inverted.link.list
          %a.item{:href => "#"} { FAQ }
          %a.item{:href => "#"} { How To Access } 
      .seven.wide.column
        %h3.ui.inverted.header 
          = image_tag("/assets/icon-green")
        %p /> We are a community
