
.ui.inverted.vertical.bottom.fixed.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header About 
        .ui.inverted.link.list
          = link_to " Contact Us " ,'',:class=> "item" ,:id => "hover-green"
          = link_to " Privacy and Terms " ,static_privacy_terms_path, :class => "item" ,:id => "hover-green"
          
      .three.wide.column
        %h4.ui.inverted.header
        .ui.inverted.link.list
          =link_to " FAQ " , static_faqs_path, :class => "item" ,:id => "hover-green"
      .seven.wide.column
        %h3.ui.inverted.header 
          = image_tag("icon-green.png")
        %p We are a community
