.ui.fixed.inverted.menu
  .ui.container
    %a.header.item{:href => root_path}
      %img.logo{:src => asset_url("logo-green.png")}
    = link_to " Startups", startups_path ,:class => "item"
    = link_to " Consultants ", consultants_path ,:class => "item"
    = link_to "Challenges" , challenges_path ,:class => "item"
  .right.container
    -if green_signed_in?
      =link_to  destroy_green_session_path , :method => :delete,:class => "item" do 
        %i.sign.out.icon
        Logout
    -elsif admin_signed_in?
      =link_to destroy_admin_session_path , :method => :delete ,:class => "item" do
        %i.sign.out.icon
        Logout
    -elsif !signed_in?
      =link_to new_green_session_path ,:class => "item" do 
        %i.user.icon
        Sign in
%br 
%br