.ui.fixed.inverted.menu
  .ui.container
    %a.header.item{:href => root_path}
      %img.logo{:src => asset_url("icon-green.png")}
    = link_to " Startups", startups_path ,:class => "item"
    = link_to " Consultants ", profile_index_path ,:class => "item"
    %a.item{:href => "#"} Partners
  .right.container
    -if green_signed_in?
      =link_to "logout ", destroy_green_session_path , :method => :delete,:class => "item"
    -elsif admin_signed_in?
      =link_to "logout ", destroy_admin_session_path , :method => :delete ,:class => "item"
    -elsif !signed_in?
      =link_to "Login", new_green_session_path ,:class => "item"

